/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* css */
body{
    background-color: #19181C;
    margin: 0%;
    font-size: 18px;
}

header{
    border: 1px solid red;
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: center;
}

.main_buttons_box{
    border: 1px solid white;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0 0 0;
    margin: 0;
    width: 1160.530px;
    height: 88px;
}

.main_buttons_box li button{
    font-family: 'Inter', sans-serif;
    color: white;
    background-color: #19181C;
    width: 168px;
    height: 88px;
    font-size: 21px;
    font-weight: 550;
    letter-spacing: -0.5px;
    border: 0;
    border-radius: 2186px;
    transition: 0.4s;
}

.main_buttons_box li button:hover{
    background-color: #45434A;
    transform: scale(1.025);
    cursor: pointer;
}

.apparence_buttons_box{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    padding: 32px 0 0 0;
    width: 290px;
    height: 88px;
}

.toggle_dark_mode_button{
    background: white;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    width: 120px;
    height: 60px;
    margin-top: 13px;
    margin-right: 10px;
    margin-left: 10px;
}

.language_button{
    border: 1px solid white;
    width: 150px;
    height: 80px;
    margin-left: 10px;
    display: flex;
}

.bandera{
    border: 1px solid red;
    width: 100px;
    height: 80px;
}

.flecha{
    border: 1px solid blue;
    width: 50px;
    height: 80px;
}




